# ─────────────────────────────────────────────────────────
#  .env  —  Copy this to .env and fill in your real values
#  NEVER commit .env to GitHub!
#  AWS credentials handled by EC2 IAM Role — no keys needed!
# ─────────────────────────────────────────────────────────

FLASK_DEBUG=false
SECRET_KEY=1e7d603d3554d09c1ae88c91a5ee5f30396fc7c64b99c34cfa2f411d9d9d6ae7
# MySQL RDS
DB_HOST=jobvault-db.cul0q4kwmwwe.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=jobvault
DB_USER=admin
DB_PASSWORD=Wacko1234$

# AWS — No secret keys needed (EC2 IAM Role handles it)
AWS_REGION=us-east-1
S3_BUCKET_NAME=jobvault53677
